
 body {
                background-color:aliceblue;
                font-family: monospace;
}
h1 {
                color:midnightblue;
                font-family: monospace;
                font-size: 40px;
                text-align: center;

            }


#img_marg {
    display:block
    margin-left:auto;
    margin-rifht:auto;
    border: 3px solid gray;
    margin: 100px 25px;

}
.menu{
    height: 100px;
}
#botoes {
    margin: 100px 70px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid gray;
    padding: 100px 50px;

}
